python=3.11
# numpy=1.23.0
numpy
pyoptsparse
cyipopt
matplotlib
pandas
scienceplots
pyright
black
mpi4py
cython
petsc
petsc4py
scikits.odes
ipopt
scikit-learn
jax
imageio
pygments
sympy
typing_extensions
# openmdao-with-all
